.top-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  width: 100%;

  .navigator {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    //border: 2px solid #000;
    //box-shadow: 0px 0px 4px 4px rgba(43, 58, 75, 0.8);
    //background-color: rgb(214, 228, 240);
    //background-image: linear-gradient(to right, #024a7a, #1b6eb3);
    border-radius: 0%;
  }
  .active {
    background-color: #ffd700;
    color: #000;
  }

  button {
    font-size: 13px;
    background: 0 0;
    color: #fff;
    margin: 5px;
    border-radius: 0%;
    border: 2px solid #ffd700;
    padding: 5px;
    font-family: 'Helvetica';
    letter-spacing: 2px;
    box-shadow: 0px 0px 4px 4px rgba(43, 58, 75, 0.8);

    &:hover {
      background-color: #c9ab03ce;
      color: #000;
    }
  }
}

.Gamecontainer {
  display: flex;
  flex-direction: row;
  height: 94%;
  width: 100%;
}

.game-content {
  flex: 10;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: center;

  .description {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 6px 6px rgba(43, 58, 75, 0.8);
    background-color: rgb(214, 228, 240);
    border: 4px solid #000;
    border-radius: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 5px;

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 20px;
      font-family: 'Coolvetica';
    }
    li {
      word-wrap: break-word;
      word-break: break-word;
      white-space: normal;
      font-size: 20px;
      margin-left: 10px;
      font-family: 'Coolvetica';
      letter-spacing: 1px;
    }
  }

  .game-image-container {
    flex: 8;
    display: flex;
    flex-direction: column;
    margin: 7px;
    margin-bottom: 1px;
    margin-top: 3px;
    //justify-content: center;
    // align-items: center;

    .image-grid {
      flex: 6;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-right: 0px;
      margin-left: 4px;
      //grid-template-rows: auto auto;
      gap: 10px;
      justify-items: center;
      align-items: center;

      img.normal {
        width: 100%;
        max-width: 300;
        height: 95%;
        max-height: 185px;
        cursor: zoom-in;
        margin: 5px;
        margin-top: 0;
        margin-right: 0;
        box-shadow: 0px 0px 4px 4px rgba(43, 58, 75, 0.8);
        border: 4px solid #000;
      }

      img.expanded {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2); /* Adjust scale as needed */
        z-index: 1000;
        max-width: 50%;
        max-height: 50%;
        width: auto;
        height: auto;
        cursor: zoom-out;
      }

      .playItem {
        grid-column: 1 / span 2;
        grid-row: 2;
        font-size: 20px;
        font-family: 'Coolvetica';
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 225px;
      }
    }

    .space-container {
      flex: 2;
    }

    .video-container {
      flex: 6;
      box-shadow: 0px 0px 4px 4px rgba(43, 58, 75, 0.8);
      border: 4px solid #000;
      margin: 0;
      width: 100%;
      max-width: 622px;
      max-height: 310px;
      height: 100%;
      //justify-content: center;
      //align-items: center;

      iframe {
        position: relative;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
      }
    }
  }
}

.navigator-button {
  width: 100px;
  height: 50px;
}

@media (max-width: 1800px) {
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
  .game-content {
    .description {
      h1 {
        font-size: 15px;
      }
      p {
        font-size: 15px;
      }
      li {
        font-size: 15px;
      }
    }
  }
}

/* Media query for even smaller screens */
@media (max-width: 768px) {
}

/* Media query for mobile screens */
@media (max-width: 480px) {
}
