.top-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  width: 100%;

  .navigator {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    //border: 2px solid #000;
    //box-shadow: 0px 0px 4px 4px rgba(43, 58, 75, 0.8);
    //background-color: rgb(214, 228, 240);
    //background-image: linear-gradient(to right, #024a7a, #1b6eb3);
    border-radius: 0%;
  }
  .active {
    background-color: #ffd700;
    color: #000;
  }

  button {
    font-size: 13px;
    background: 0 0;
    color: #fff;
    margin: 5px;
    border-radius: 0%;
    border: 1px solid #ffd700;
    padding: 5px;
    font-family: 'Helvetica';
    letter-spacing: 2px;
    box-shadow: 0px 0px 4px 4px rgba(43, 58, 75, 0.8);

    &:hover {
      background-color: #c9ab03ce;
      color: #000;
    }
  }
}

.Gamecontainer {
  display: flex;
  flex-direction: row;
  height: 94%;
  width: 100%;
}

.game-content {
  flex: 10;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: center;

  .description {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(114, 185, 252, 0.2);
    border: 2px solid #000;
    border-radius: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;

    a {
      color: #ffd700;
    }

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    h1 {
      color: aliceblue;
    }
    p {
      font-size: 20px;
      font-family: 'Helvetica';
      color: aliceblue;
      letter-spacing: 1px;
    }
    li {
      word-wrap: break-word;
      word-break: break-word;
      white-space: normal;
      font-size: 20px;
      margin-left: 10px;
      font-family: 'Helvetica';
      letter-spacing: 1px;
      color: aliceblue;
    }
  }
  .game-image-container {
    flex: 8;
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    border: rgba(0, 0, 0, 0);

    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      width: 100%; 
      height: 100%;

      img.normal {
        width: 100%;
        max-width: 300;
        height: 100%;
        max-height: 185px;
        border: 2px solid #000;
        background-color: #ffd700;
        object-fit: cover;
        cursor: zoom-in;
      }
      img.expanded {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2); 
        z-index: 1000;
        max-width: 50%;
        max-height: 50%;
        width: auto;
        height: auto;
        cursor: zoom-out;
      }
    }

    .video-container {
      grid-column: span 2; 
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden; 
      border: 2px solid #000;

      .video-frame,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }

      .responsive-iframe {
        width: 333% !important;
        height: 333% !important;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        -webkit-transform-origin: 0 0;
      }
    }

    .pic-container {
      grid-column: span 2; 
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden; 
      border: 0px solid #000;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }
  }
}

.navigator-button {
  width: 100px;
  height: 50px;
}

@media (max-width: 1800px) {
}

@media (max-width: 1440px) {
  .game-content {
    .description {
      h1 {
        font-size: 15px;
      }
      p {
        font-size: 15px;
      }
      li {
        font-size: 15px;
      }
    }
  }
  .top-game-container {
    button {
      font-size: 9px;
    }
  }
}

@media (max-width: 1024px) {
  .game-content {
    .description {
      h1 {
        font-size: 12px;
      }
      p {
        font-size: 12px;
      }
      li {
        font-size: 12px;
      }
    }
  }
  .top-game-container {
    button {
      font-size: 7px;
    }
  }
}

@media (max-width: 480px) {
}
